header {
    height: 150vh ;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 3%;
    border-top-right-radius: 2%;
    background-color: rgba(100, 101, 102, 0.097);
    border-color:rgb(128, 128, 125) ;
    margin:auto;
    box-shadow: 0px 0px 20px rgba(16, 253, 56, 0.693);
}

#pageHeader {
    color: black;
    border-style: solid;
}